*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 8vh;
    grid-template-areas: 
    "h"
    "m"
    "f";
}

header{
    grid-area: h;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}

.logo > img{
    height: 80px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu > h1{
    color: white;
}

main{
    grid-area: m;
    background-image: url(imagens/principal.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: f;
    background-color: black;
}

@media screen and (max-width:600px) {
    .cards{
        flex-direction: column;
    }
    main{
        padding: 0;
    }
    header{
        padding: 0;
    }
}

